.removAll {
  width: 120px;
  padding: 10px 5px;
  background-color: #00321f;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}
.applied-container .cards-container h1 {
  color: #00321f;
  margin-bottom: 40px;
  font-size: 40px;
}

@media screen and (max-width: 450px) {
  .applied-container {
    padding-top: 50px;
  }
  .applied-container .cards-container h1 {
    color: #00321f;
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 10px;
  }
}
