.about-page {
  max-width: 75%;
  margin: 0 auto;
  padding: 7rem 3rem;
  font-family: "Arial", sans-serif;
}

header {
  text-align: center;
  margin-bottom: 20px;
  background: -webkit-linear-gradient(#11aa1d, #00321f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  img {
    max-width: 150px;
    border-radius: 50%;
    margin-right: 20px;
  }
}
.offerings img {
  width: 20%;
}
.team img {
  width: 20%;
}
.mission,
.offerings,
.team {
  margin-bottom: 30px;

  h2 {
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 15px;
  }

  p {
    line-height: 1.6;
    text-align: j;
  }

  img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
  }
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 600px) {
  .about-page {
    max-width: 100%;
    padding: 7rem 2rem;
  }
  .about-page p {
    text-align: justify;
    font-size: 15px;
  }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 50px;
  }
  .intro img {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .offerings img,
  .team img {
    width: 100%;
  }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  .about-page {
    max-width: 100%;
    padding: 9rem 3rem;
    margin: 0 auto;
  }
  .about-page p {
    text-align: justify;
    font-size: 22px;
  }
  .about-page header {
    display: flex;
    font-size: 20px;
    margin-bottom: 30px;
  }
}
