/* Common styling for all screen sizes */
.contact-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 120px 20px 50px 20px;
  border-radius: 10px;
  color: #001f3f;
}

.contact-container .title {
  font-size: 35px;
  margin-bottom: 20px;
  background: -webkit-linear-gradient(#06c606, #017f21);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-container .description {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  font-size: 1.1em;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.contact-form button {
  background-color: #1f3929;
  color: #fff;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 1s;
}

.contact-form button:hover {
  background-color: #3e5d4a;
}

.contact-cards {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.contact-card {
  border: 1px solid #1f3929;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  width: 100%; /* Full width on small screens, override in larger screens */
}

.contact-card h3 {
  font-size: 1.5rem;
  color: #00321f;
  margin-bottom: 10px;
}

.contact-card p {
  font-size: 1rem;
  color: #000;
}

/* Responsive styling for screens up to 450px */
@media screen and (max-width: 450px) {
  .contact-container {
    padding: 120px 10px 30px 10px;
  }

  .contact-container .title {
    font-size: 30px;
  }

  .contact-container .description {
    font-size: 1em;
  }

  .contact-form button {
    padding: 10px 15px;
  }
  .contact-cards {
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: space-between;
  }
}

@media screen and (min-width: 451px) and (max-width: 850px) {
  .contact-card {
    width: 48%;
  }
}
