.contact-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 120px 0 50px 0;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  border-radius: 10px;
  color: #001f3f; /* Text color */
}

.contact-container .title {
  font-size: 35px;
  margin-bottom: 20px;
  background: -webkit-linear-gradient(#06c606, #017f21);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-container .description {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  font-size: 1.1em;
  margin-bottom: 5px;
}

.contact-form input,
textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.contact-form button {
  background-color: #1f3929; /* Button background color */
  color: #fff; /* Button text color */
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 1s;
}

.contact-form button:hover {
  background-color: #3e5d4a;
}
.contact-cards {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.contact-card {
  border: 1px solid #1f3929;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  width: 40%;
}

.contact-card h3 {
  font-size: 1.5rem;
  color: #00321F;
  margin-bottom: 10px;
}

.contact-card p {
  font-size: 1rem;
  color: #000;
}
