/* footer.css */

/* Reset default styles for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Footer styles */
footer {
  background-color: #16212a;
  color: #fff;
  padding: 30px 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 150px;
}

.footer-one {
  width: 40%;
}

.footer-tow {
  display: flex;
  justify-content: space-between;
  width: 60%;
  gap: 50px;
}

.footer-section {
  flex: 1;
  margin-right: 20px;
}

h4 {
  color: #ffc107;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  line-height: 1.5;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #ffc107;
}

.footer-social {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.footer-social a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 5px;
  text-align: center;
}
.footer-social a span {
  display: flex;
}

.footer-social a:hover {
  color: #ffc107;
}

/* Responsive Design */

@media (max-width: 450px) {
  .footer-container {
    flex-direction: column;
    width: 100%;
    gap: 0;
    padding: 10px;
  }
  .footer-one {
    width: 100%;
  }
  .footer-tow {
    width: 100%;
  }
  .footer-section {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (min-width: 450px) and (max-width: 850px) {
  .footer-container {
    width: 100%;
    gap: 0;
    padding: 10px;
  }
  .footer-section h4{
    font-size: 30px;
  }
  .footer-section p{
    font-size: 15px;
  }
}
