.home-header {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.home-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 30px;
  border-radius: 10px;
}

.home-container .title h2 {
  font-size: 3em;
  color: #000;
  color: #174e17;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
  font-weight: 600;
  display: inline;
  background: -webkit-linear-gradient(#06c606, #017f21);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-container .description {
  font-size: 20px;
  margin-bottom: 30px;
  color: #000;
  color: #404040;
  font-weight: 400;
  background: -webkit-linear-gradient(#030503, #3c2828);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* color: #DEC74F;
  color: #fff; */
  padding: 20px;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
}
.home-cards-container{
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
}
.home-container .title {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #404040;
}

.home-container .hero-section .explor-button {
  text-decoration: none;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 15px 12px;
  font-size: 16px;
  background-color: #008000;
  margin-left: 20px;
}

.home-container .hero-section .explor-button:hover {
  background-color: #56a856;
}

.hero-section {
  display: flex;
  gap: 50px;
  align-items: center;
}
.hero-section .hero-img img {
  width: 500px;
}

.home-features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 30px;
  gap: 30px;
}

.home-features .feature {
  text-align: center;
  padding: 20px;
  background-color: #483c32;
  background-color: rgb(72, 60, 50, 0.1);
  color: #0a72c6;
  border-radius: 8px;
  margin-bottom: 20px;
  height: 220px;
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 10px;
}

.home-button {
  padding: 15px 30px;
  font-size: 1.2em;
  text-decoration: none;
  background-color: #203b2a;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: inline-block;
}

.home-button:hover {
  background-color: #1f5d3f;
}
.btn-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.cards-heading{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
.cards-heading h1 {
color: #00321F;
  font-size: 40px;
  margin-bottom: 20px;
  border-top: 1px solid #00321F;
  border-bottom: 1px solid #00321F; 
  border-radius: 15px; 
  padding: 5px 10px;
  width: 300px;
}

.card-deteils-button{
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.card{
  position: relative;
}
.card-deteils-button .deteils-button {
  background-color: #00321f;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.5s ease all;  
  width: 250px;
}
.card-deteils-button .love{
  font-size: 30px;
  position: absolute;
  right: 40px;
  top: 29px;
  color: #9d0240;
  cursor: pointer;
}



@media (max-width: 768px) {
  .features {
    flex-direction: column;
  }

  .feature {
    width: 100%;
  }
}
