.home-header {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.card button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.home-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 30px;
  border-radius: 10px;
}

.home-container .title h2 {
  font-size: 3em;
  color: #000;
  color: #174e17;
  font-weight: 600;
  display: inline;
  background: -webkit-linear-gradient(#06c606, #017f21);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-container .description {
  font-size: 20px;
  margin-bottom: 30px;
  color: #000;
  color: #404040;
  font-weight: 400;
  background: -webkit-linear-gradient(#030503, #3c2828);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 20px;
}
.home-cards-container {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
}
.home-container .title {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #404040;
}

.home-container .hero-section .explor-button {
  text-decoration: none;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 15px 12px;
  font-size: 16px;
  background-color: #008000;
  margin-left: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: none;
  outline: none;
  width: 150px;
}

.home-cards-container .explor-button {
  text-decoration: none;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 15px 12px;
  font-size: 16px;
  background-color: #008000;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: none;
  outline: none;
  width: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.home-container .hero-section .explor-button:hover {
  background-color: #56a856;
}

.hero-section {
  display: flex;
  gap: 50px;
  align-items: center;
}
.hero-section .hero-img img {
  width: 500px;
}

.home-features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 30px;
  gap: 30px;
}

.home-features .feature {
  text-align: center;
  padding: 20px;
  background-color: #483c32;
  background-color: rgb(72, 60, 50, 0.1);
  color: #0a72c6;
  border-radius: 8px;
  margin-bottom: 20px;
  height: 220px;
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 10px;
}

.home-button {
  padding: 15px 30px;
  font-size: 1.2em;
  text-decoration: none;
  background-color: #203b2a;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: inline-block;
}

.home-button:hover {
  background-color: #1f5d3f;
}
.btn-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.cards-heading {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
.cards-heading h1 {
  color: #00321f;
  font-size: 40px;
  margin-bottom: 20px;
  border-top: 1px solid #00321f;
  border-bottom: 1px solid #00321f;
  border-radius: 15px;
  padding: 5px 10px;
  width: 300px;
}

.card-deteils-button {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.card {
  position: relative;
}
.card-deteils-button .deteils-button {
  background-color: #00321f;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.5s ease all;
  width: 250px;
}
.card-deteils-button .love {
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 5px;
  color: #9d0240;
  cursor: pointer;
}

.disign-section {
  width: 100%;
}
.disign-container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.disign-container h2 {
  font-size: 30px;
  background: -webkit-linear-gradient(#11aa1d, #00321f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 10px 0 40px 0;
}
.categories-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 80px;
}

.categories-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  list-style: none;
  padding: 10px;
  transition: all ease 0.5s;
}
.categories-list li:hover {
  background-color: #51e15da2;
  border-radius: 5px;
}

.categories-list li span {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  justify-content: space-between;
}

.categories-list li span img {
  width: 100px;
}
.categories-list li .data {
  margin-top: 17px;
}
@media screen and (max-width: 480px) {
  .home-container {
    padding-top: 50px;
  }
  .home-container .title h2 {
    font-size: 2.6em;
  }

  .hero-section {
    flex-direction: column;
    padding-top: 20px;
  }

  .hero-section .hero-img img {
    width: 100%;
  }

  .home-container .description {
    font-size: 17px;
    padding: 20px;
    text-align: justify;
    margin-bottom: 0;
  }
  .hero-btns {
    padding-left: 10px;
  }
  .home-container .hero-section .hero-btns {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 10px;
  }
  .home-container .hero-section .hero-btns .explor-button {
    margin-right: 20px;
    display: inline-block;
    width: 150px;
    text-align: center;
  }

  .cards-heading h1 {
    font-size: 30px;
  }
  .home-cards-container .cards .card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }

  .card-deteils-button .love {
    right: 20px;
  }

  .disign-container {
    padding: 20px;
    width: 100%;
  }
  .disign-container h2 {
    font-size: 24px;
    letter-spacing: -1px;
  }
  .card-deteils-button .love {
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
  }
  .home-container .cards .card {
    flex-direction: column;
  }
  .home-container .cards .card .card-content .card-deteils-button {
    width: 100%;
  }
  .home-container .cards .card .card-content .card-deteils-button button {
    width: 100%;
  }
  ul.categories-list {
    grid-template-columns: 1fr;
  }
  .categories-list li {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
}

/* Add responsive styles for small screens */
@media screen and (min-width: 481px) and (max-width: 850px) {
  .hero-section {
    flex-direction: column;
    gap: 20px;
  }

  .hero-section .hero-img img {
    width: 100%;
  }

  .home-container {
    padding: 20px;
  }
  .home-container .description {
    text-align: justify;
    margin-bottom: 0;
  }
  .home-container .hero-section .explor-button {
    margin-left: 0;
    margin-top: 20px;
  }
  .hero-btns {
    padding-left: 20px;
  }
  .explor-button {
    margin-right: 20px;
    display: inline-block;
    width: 150px;
  }
  .home-cards-container {
    width: 100%;
  }
  .home-cards-container .cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .home-cards-container .cards .card {
    gap: 30px;
  }

  .card-deteils-button .deteils-button {
    width: 100%;
  }

  .categories-list {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}
