* {
  margin: 0;
  padding: 0;
}

.notfound-section {
  width: 100%;
  margin: 0 auto;
}

.notfound-container {
  padding: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-around;
}

.notfound-img img {
  width: 700px;
}


.notfound-content h1 {
  color: brown;
  font-size: 50px;
}
.notfound-content p {
  margin-top: 5px;
  color: rgb(99, 23, 23);
  font-size: 35px;
  margin-bottom: 20px;
}
.notfound-content .btn {
  display: flex;
  gap: 10px;
}
.notfound-content .btn button {
  margin-top: 55px;
  background-color: #04ab11;
  color: #fff;
  font-size: 20px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  outline: none;
  width: 160px;
}
